In [1]:
import pandas as pd
import numpy as np

In [2]:
df_full = pd.read_csv('data/vehicles.csv')
df_full.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [38]:
df_full['name'] = df_full['manufacturer'].str.cat(df_full['model'], sep=' ')

df = df_full[[
    'year',
    'name',
    'fuel',
    'odometer',
    'transmission',
    'drive',
    'price']]

df = df.dropna()
df = df.reset_index(drop=True)

df.head()

,year,name,fuel,odometer,transmission,drive,price
0,2013.0,ford f-150 xlt,gas,128000.0,automatic,rwd,15000
1,2012.0,gmc sierra 2500 hd extended cab,gas,68696.0,other,4wd,27990
2,2016.0,chevrolet silverado 1500 double,gas,29499.0,other,4wd,34590
3,2019.0,toyota tacoma,gas,43000.0,automatic,4wd,35000
4,2016.0,chevrolet colorado extended cab,gas,17302.0,other,4wd,29990

In [39]:
df = df.astype({
    'year': 'int',
    'name': 'string',
    'fuel': 'string',
    'odometer': 'float',
    'transmission': 'string',
    'drive': 'string',
    'price': 'float'
})

In [40]:
for col in df.columns:
    print(col)

    if df[col].dtype == 'string':
        print(df[col].unique(), end='\n\n')
    else:
        print(f'mean = {df[col].mean()}', end='\n\n')

year
mean = 2011.667633646582

name
<StringArray>
[                 'ford f-150 xlt', 'gmc sierra 2500 hd extended cab',
 'chevrolet silverado 1500 double',                   'toyota tacoma',
 'chevrolet colorado extended cab',  'chevrolet corvette grand sport',
                   'jeep cherokee',   'jeep wrangler unlimited sport',
 'chevrolet colorado crew cab z71',    'chevrolet camaro ss coupe 2d',
 ...
             'hyundai tucson, gls',       'ford f250 crew cab diesel',
            'ford taurus wagon lx',                  'ford f150, xlt',
             'ford f150, platinum',            'chevrolet cruze, 2lt',
              'chevrolet 1500 z71',               'jeep cj 3a willys',
             'mazda rx& gls sport',              'jeep gand wagoneer']
Length: 19009, dtype: string

fuel
<StringArray>
['gas', 'other', 'diesel', 'hybrid', 'electric']
Length: 5, dtype: string

odometer
mean = 96303.35473166307

transmission
<StringArray>
['automatic', 'other', 'manual']
Length: 3, dtype: string

drive
<StringArray>
['rwd', '4wd', 'fwd']
Length: 3, dtype: string

price
mean = 50350.4911586123