In [1]:
import pandas as pd
import numpy as np

In [2]:
df1_full = pd.read_csv('data/vehicles.csv')
df1_full.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [3]:
df1 = df1_full[[
    'year',
    'manufacturer',
    'model',
    'condition',
    'cylinders',
    'fuel',
    'odometer',
    'title_status',
    'transmission',
    'drive',
    'paint_color',
    'price']]

df1 = df1.rename(columns={
    'manufacturer': 'brand',
    'odometer': 'milage',
    'paint_color': 'ext_color',
    'title_status': 'clean_title'})

df1.head()

,year,brand,model,condition,cylinders,fuel,milage,clean_title,transmission,drive,ext_color,price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11900
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4900

In [4]:
df2_full = pd.read_csv('data/used_cars.csv')
df2_full.columns

Index(['brand', 'model', 'model_year', 'milage', 'fuel_type', 'engine',
       'transmission', 'ext_col', 'int_col', 'accident', 'clean_title',
       'price'],
      dtype='object')

In [5]:
df2 = df2_full[[
    'model_year',
    'brand',
    'model',
    'engine',
    'fuel_type',
    'milage',
    'clean_title',
    'transmission',
    'ext_col',
    'price'
]]

df2 = df2.rename(columns={'model_year': 'year', 'fuel_type': 'fuel', 'engine': 'cylinders', 'ext_col': 'ext_color'})

df2['condition'] = np.nan
df2['drive'] = np.nan
df2 = df2[df1.columns]

df2.head()

,year,brand,model,condition,cylinders,fuel,milage,clean_title,transmission,drive,ext_color,price
0,2013,Ford,Utility Police Interceptor Base,NaN,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,E85 Flex Fuel,"51,000 mi.",Yes,6-Speed A/T,NaN,Black,"$10,300"
1,2021,Hyundai,Palisade SEL,NaN,3.8L V6 24V GDI DOHC,Gasoline,"34,742 mi.",Yes,8-Speed Automatic,NaN,Moonlight Cloud,"$38,005"
2,2022,Lexus,RX 350 RX 350,NaN,3.5 Liter DOHC,Gasoline,"22,372 mi.",NaN,Automatic,NaN,Blue,"$54,598"
3,2015,INFINITI,Q50 Hybrid Sport,NaN,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,Hybrid,"88,900 mi.",Yes,7-Speed A/T,NaN,Black,"$15,500"
4,2021,Audi,Q3 45 S line Premium Plus,NaN,2.0L I4 16V GDI DOHC Turbo,Gasoline,"9,835 mi.",NaN,8-Speed Automatic,NaN,Glacier White Metallic,"$34,999"

In [6]:
df = pd.concat([df1, df2])
df.head()

,year,brand,model,condition,cylinders,fuel,milage,clean_title,transmission,drive,ext_color,price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11900
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21000
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4900

In [7]:
# Get missing data percentages per column

for col in df.columns:
    na_count = sum(df[col].isna())
    total_count = len(df)
    print(f'{col}: {na_count/total_count*100:.2f}')

year: 0.28
brand: 4.10
model: 1.22
condition: 41.34
cylinders: 41.24
fuel: 0.74
milage: 1.02
clean_title: 2.05
transmission: 0.59
drive: 31.23
ext_color: 30.22
price: 0.00

Todo:
- Data cleaning
- Modelling