In [1]:
import pandas as pd
import numpy as np

In [2]:
df_full = pd.read_csv('data/vehicles.csv')
df_full.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [3]:
df_full['name'] = df_full['manufacturer'].str.cat(df_full['model'], sep=' ')

df = df_full[[
    'name',
    'price']]

df = df.dropna()
df = df.reset_index(drop=True)

df.head()

                            name  price
0   gmc sierra 1500 crew cab slt  33590
1       chevrolet silverado 1500  22590
2  chevrolet silverado 1500 crew  39590
3    toyota tundra double cab sr  30990
4                 ford f-150 xlt  15000

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

documents = [
    'gmc sierra 1500 crew cab slt',
    'chevrolet silverado 1500',
    'chevrolet silverado 1500 crew'
]

vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(documents)
print(tfidf_matrix)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 13 stored elements and shape (3, 8)>
  Coords	Values
  (0, 4)	0.450504072643198
  (0, 5)	0.450504072643198
  (0, 0)	0.2660749625405929
  (0, 3)	0.3426199591918006
  (0, 1)	0.450504072643198
  (0, 7)	0.450504072643198
  (1, 0)	0.48133416873660545
  (1, 2)	0.6198053799406072
  (1, 6)	0.6198053799406072
  (2, 0)	0.40912286076708654
  (2, 3)	0.5268201732399633
  (2, 2)	0.5268201732399633
  (2, 6)	0.5268201732399633

In [14]:
print(cosine_similarity(tfidf_matrix[0], tfidf_matrix[1]))
print(cosine_similarity(tfidf_matrix[0], tfidf_matrix[2]))
print(cosine_similarity(tfidf_matrix[1], tfidf_matrix[2]))

[[0.12807097]]
[[0.28935646]]
[[0.84997677]]